.containerTitleAndCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: Oxygen;
}



.allCardsSection {
    display: flex;
    flex-direction: row;
    width: 90%;
}


#eachCard {
    height: 50%;
    width: 30%;
}