.containerTitleAndCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border: solid;
}



.allCardsSection {
    display: flex;
    width: 90%;
}


#eachCard {
    height: 50%;
    width: 30%;
}