.allDescriptionArea {
    display: flex;
    flex-direction: column; 
    flex-wrap: nowrap;   
    align-items: center; 
    width: 100%;
    font-family: Oxygen;
    margin-top: 5%;
    
}



.twoDescription {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    
    

}

.oneDescriptionOfTwo {
    width: 37%;
    margin-right: 2%;
    
}




.oneVerticalDescription {
    display: flex;
    flex-direction: row;
    width: 78%;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

@media (max-width: 700px) {
    #firstOne {
        display: none;
    }

    #secondOne {
        width: 90%;
        margin-bottom: 4%;
    }

    .oneVerticalDescription {
        display: none;

    }

}