.sections {
    font-family: Oxygen;
}


.twoBigCards {

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 3em;
}


.firstBigPic {
    width: 37%;
    text-decoration: none;
    color: whitesmoke;
    height: 17em;
    margin-right: 6%

}

.firstBigPic:nth-child(1) {
    background-image: url('./city1.png');
    background-position: center;
  }

.secondBigPic {
    width: 37%;
    text-decoration: none;
    color: whitesmoke;
    

}

.secondBigPic:nth-child(2) {
    background-image: url('./city2.png');
    background-position: center;
  }












/* --------la card grande */



.oneBigCard {
    display: flex;
    flex-direction: row;
    justify-content: center;    
    text-decoration: none;
    color: whitesmoke;
    height: 17em;
    border: solid;

}

.theBigPic:nth-child(1) {
    background-image: url('./concert.png');
    background-position: bottom;    
  }

.theBigPic {
    width: 80%;    
}


.titleBigOne {    
    padding-top: 6%;
    padding-left: 4%;
}

.subBigOne {
    padding-left: 4%;
    padding-right: 4%;
    text-align: justify;
}
 

.textContainer:hover{
    background: linear-gradient(95deg, rgba(0,0,0,0.65) 100%,rgba(0,0,0,0) 100%);     
    font-weight: bold;
    height: 85%;
  }

  .textContainer:hover p{
    font-weight: bolder;
    color: white;    
  }


  
@media (max-width: 700px) {
    .sections {
        display: flex;
        flex-direction: column;


    }

    .twoBigCards {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        
    }

    .firstBigPic {
        width: 90%;
        margin-bottom: 1%;
        margin-right: 0;
    
    }
    
    
    
    .secondBigPic {
        width: 90%;
        height: 90%;
        display: none;
    
    }

    .theBigPic {
        width: 90%;    
    }

    .textContainer{
        background: linear-gradient(95deg, rgba(0,0,0,0.65) 100%,rgba(0,0,0,0) 100%);     
        font-weight: bold;
        height: 85%;
      }
    
      .textContainer p{
        font-weight: bolder;
        color: white;    
      }
    
  }

