@font-face {
    font-family: 'Oxygen';
    src: local('Oxygen'), url(./fonts/Oxygen-Regular.ttf) format('truetype');
  }


  @font-face {
    font-family: 'palaquin';
    src: local('palaquin'), url(./fonts/palanquin-regular.ttf) format('truetype');
  }