@font-face {
    font-family: 'Oxygen';
    src: local('Oxygen'), url(./fonts/Oxygen-Regular.ttf) format('truetype');
  }


.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.911);
    width:100%;
}

.allComponents{
    width: 90%;
    background-color: white;
}


  


@media (max-width: 700px) {
    .allComponents {
        width: 100%;
    }
}






:root {
    --mainBlue: #2a2a72;
    --lightBlue: #303030;
    --mainWhite: #f3f3f3;
    --mainDark: #232528;
    --mainYellow: #ffa400;
  }
  
 
  