.secondNav {
    display: flex;
    justify-content: row;
    justify-content: center;    
    align-items: center;
    font-family: Oxygen;
    background-color: #424242;
    
    
}

/* This is the extracted copied part responsible for showing & hiding the submenu. */
.nav__submenu {
    display: none;
}
.nav__menu-item:hover .nav__submenu {
    display: block;  /* El más importante, hace que salgan en columna los submenus y coge todo el width */
}
/* Layout styles. I like to work on stuff that's good looking so I remixed a cool simple menu by Mike Rojas (thanks!): https://codepen.io/mikerojas87/pen/rojKb */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
/* body {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
} */
.menu-container {
    text-align: center;
}
nav ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;    
    margin: 0 auto 0;
    background: #424242;
    color: #fff;
    text-align: left;
    z-index: 1;
    height: 50px;
}
.nav a {
    display: block;
    padding: 0 2%;
    line-height: inherit;
    cursor: pointer;
}
.nav__menu {
    line-height: 45px;
    font-weight: 700;
    
}
.nav__menu-item {
    display: inline-block;
    overflow: clip;
    /* position: relative; */
}
.nav__menu-item:hover {
    background-color: rgba(255, 255, 255, 0.08);
}
.nav__menu-item:hover .nav__submenu {
    display: block;
}
.nav__submenu {
    font-weight: 300;
    text-transform: none;
    display: none;
    position: absolute;
    width: 180px;
    background-color: #424242;
}
.nav__submenu-item:hover {
    background: rgba(0, 0, 0, 0.1);
}

.secondNavLittle {
    display: none;

}


@media (max-width: 900px) {
    .secondNav{
        display: none;
    }

    .secondNavLittle {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap; 
      height: 50px;
      background: #424242;
      align-content: center;
      align-items: center;
      justify-content: space-around;
      }
    
    .threeLittleSections{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap; 
      height: 70px;
      color: #fff;
      font-weight: bolder;
      z-index: 1;
      text-decoration: none;
      list-style-type: none;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      margin-left: -10%;
        
        

    }
    
    
    .secondNavLittle a{
        text-decoration: none;
        color: white;
        font-family: Oxygen;
        padding-right: 12%;
        cursor: pointer;
        
       
      }
    
      
}


#mySectionButton {
    border: none;
    text-transform: none;
    font-family: Oxygen;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1em;

}